<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Chat Bot Sample</title>
    <link rel="stylesheet" href="/static/index.css">
</head>
<body>
<script type="importmap">
  {
    "imports": {
      "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
    }
  }
</script>

{% raw %}
<div id="app" class="ChatWindow">


    <template v-for="talk in talkHistory">
      <div class="ChatItem" :class="talk.role === 'user'?'ChatItem--customer':'ChatItem--expert'">
        <div class="ChatItem-meta">
          <div class="ChatItem-avatar">
            <img class="ChatItem-avatarImage" :src="talk.role === 'user'
              ?'https://2.bp.blogspot.com/-h1B-4UIVwqI/WdyDlrJWSnI/AAAAAAABHdw/7u_elOdMW0Ux_s4S5qVAp0qIf51ejRUWQCLcBGAs/s400/kaisya_desk3_man.png'
              :'https://2.bp.blogspot.com/-H2eLSLfzvpA/XGjx1UapC6I/AAAAAAABRcA/5Xdh-W7tqk8X1YONndv2B1ykhJ6BRS1bgCLcBGAs/s800/ai_computer_sousa_robot.png'"
            >
          </div>
        </div>
        <div class="ChatItem-chatContent">
          <div class="ChatItem-chatText">{{talk.message}}</div>
        </div>
      </div>

    </template>

    <div class="ChatInput is-hidey">
      <div class="ChatInput-input" contenteditable="true" placeholder="Type your message here..."></div>
    </div>
</div>
{% endraw %}

<script type="module">
  import { createApp } from 'vue';

  createApp({
    data() {
      return {
        talkHistory:[
          {
            role: 'user',
            message: 'こんにちは、むすめのプレゼントは何がいいですか？',
          },
          {
            role: 'assistant',
            message: `こんにちは！むすめへのプレゼントは、彼女の趣味や興味に合ったものが良いでしょう。
以下はいくつかのアイデアですが、具体的な好みによって選ぶと良いでしょう
・本や漫画: 彼女が読書が好きなら、お気に入りの作家や最新のベストセラーを選んでみてください。`
          },
        ],
      };
    }
  }).mount('#app');
</script>
</body>
</html>
